@font-face {
	font-family: 'Blue_Melody_Regular'; 
	src: url(../fonts/Blue_Melody_Regular/Blue_Melody_Regular.ttf); 
}


@font-face {
	font-family: 'Jazz_Regular'; 
	src: url(../fonts/Jazz_Regular/Jazz_Regular.ttf); 
}