body {

    width: 100%;
    height: 100vh;
    font-size: 16px;

    overflow: hidden;
   
}

.main__section {
    position: relative;
    width: 100%;
    height: 100%;

    padding-bottom: 10px;

 
    overflow: hidden;

    transition: .3s;

}

.blur {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(8px);

}

.header {

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: max-content;

    padding: 5px;

    z-index: 2;
}

.wrapper__iems__header {

    width: 100%;
    height: max-content;
} 

.item__header {

    width: max-content;

    height: max-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.burger__menu {

    transition: .3s;

    display: none;
}

/* .wrapper {

    overflow: hidden;
} */

.wrapper__svg__song {

    position: relative;
    position: absolute;

    left: 10px;
    width: 40px;
    height: 40px;

    z-index: 20;
}

.wrapper__svg__song svg {

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    fill: #ffffff;
    /* margin: 10px 0 0 10px; */
}

.svg__arrow {

    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 30px;

    fill: #fff;

    display: none;

}



.wrapper__playing {

    position: relative;
    position: absolute;


    display: flex;
    align-items: center;
    justify-content: space-around;

    bottom: 10%;
    right: 0px;
    width: 75%;
    height: 50px;

    z-index: 10;

    /* background-color: rgb(172, 172, 172); */

    /* z-index: 20; */

}


.counter__songs__playing {

    position: absolute; 

    top: 50%;
    transform: translate(-50%, -50%);
    left: 100px;
    color: #fff;
    text-align: center;

    width: max-content;
    height: max-content;

   
    border-radius: 4px;
    padding: 5px;

    font-size: 20px;
    font-weight: 600;

}

.subtitle__name__playing {

    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    right: 100px;

    color: #ffffff;

    font-size: 18px;
    font-family: 'Blue_Melody_Regular', sans-serif;
   
    text-align: center;


}


.wrapper__a::-webkit-scrollbar {
    display: none;
}

.play__list {

    position: relative;
    position: absolute;
  
    width: 25%;
    height: 95vh;


    background: url(../images/background/player__bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;  
    background-size: cover;

    border-right: 1px solid #9a9a9a;
    overflow: hidden;

    transition:all .5s;
    z-index: 10;

}

.play__list .items__header {

    position: relative;
    position: absolute;
    width: 100%;
    height: 50px;

    background-color: #000000;
    z-index: 2;


}

.play__list .items__header .item__header {

    position: absolute;
    top: 10px;

    padding: 5px 10px;

    background-color: #000000;

}

.play__list .item__header__music, .play__list .item__header__video {

    width: 25%;
    padding: 0px 10px;
    text-transform: uppercase;
    text-align: center;
    color: #9a9a9a;
}

.play__list .item__header__music.active, .play__list .item__header__video.active {

    color: #fff;
}

.play__list .item__header__music:hover {

    cursor: pointer;
}

.play__list .item__header__music {

    left: 8%;
}

.play__list .item__header__video {

    left: 40%;
    margin-left: 10px;

}

.play__list::-webkit-scrollbar {
    width: 0;
}

.play__list.active {

    transform: translateX(0%);
    transition: all .5s;

 
}

.blur__play__list {

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(3px);
    
    z-index: -1;
}

.container {

    width: 100%;
    height: 100%;

    margin: 0 auto;
}

.wrapper {

    width: 100%;
    height: 100vh;


    position: relative;

    /* padding-right: 10px;  */

    overflow: scroll;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper__items {
    /* width: 100%; */
    position: absolute;
    top: 0;
    left:0;
    height: max-content;
    padding: 60px 10px 45px;

}

.wrapper__items.audio {

    z-index: 1;
}

.wrapper__items::-webkit-scrollbar {
    width: 0;
}

.wrapper__items .item {

    width: 100%;
    margin-bottom: 20px;

}

.wrapper__items .item:hover .number__trecks, .wrapper__items .item:hover .title__trecks {

    color: #818080;
    
}


.wrapper__items .item .number__trecks, .wrapper__items .item .title__trecks {

    color: #d0cbcb;
    font-size: 13px;

    text-transform: uppercase;
    font-weight: 800;

}

.wrapper__items .item .number__trecks.active, .wrapper__items .item .title__trecks.active {

    color: #6b6b6b;

    /* text-transform: uppercase; */
    font-weight: 800;


}


.wrapper__items .item .number__trecks {

    margin-right: 10px;

}

.wrapper__items .item:hover {

    cursor: pointer;
}

.wrap__img__current__song {

    position: relative;
    position: absolute;
    top: 0;
    right:0;
    width: 75%;
    height: 100vh;

    background: url(../images/musical__notes.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.blur__img__current__song {

    position: absolute;
    top: 0;
    right:0;

    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);

}

.progress__bar {

    position: relative;
    position: absolute;
    bottom: 9%;
    right: 0;
    background-color: rgb(85, 85, 85);
    width: 75%;
    height: 5px;

    z-index: 3;
}


.progress__bar .before {

    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    background-color: rgb(255, 255, 255);

    z-index: 4;

}

.progress__bar .dot {

    position: absolute;
 
    top: 50%;
    left: 0%;

    transform:  translate(-50%, -50%);
    width: 5px;
    height: 10px;

    border-radius: 2px;

    background-color: rgb(255, 255, 255);

    z-index: 5;

}

.progress__bar:hover, .progress__bar .dot:hover {

    cursor: pointer;

}

.footer__navigation {

    position: relative;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    width: 100%;
    height: max-content;
    border-top: 2px solid gray;
    background-color: rgb(0, 0, 0);

    z-index: 1000;
}

.wrapper__navigation {

    height: 50%;
    width: 100%;
    margin: 0 auto;
    
}

.footer__navigation .item__navigation {

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0 10px;

    width: 120px;
    height: 30px;


}


.wrapper__time__of__music {

    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 10%;

    padding: 5px;

    background-color: rgb(255, 255, 255);
    color: #000000;
}

.footer__navigation .item__navigation:hover {

    cursor: pointer;
    background-color: rgba(116, 115, 115, 0.549);

}

.play-pause {

    position: relative;
    width: 40px;
    height: 40px;

}

.item__play {

    position: absolute;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    
}

.item__pause {

    position: absolute;

    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
   
    display: none;

}

.item__navigation.play-pause path {

    stroke: #fff;
}

.item__navigation__random {

    position: relative;
}

.random__play {

    position: absolute;
    top: 50%;
    left: 50%; 

    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;

   
}

.random__play.diz {

    fill: #7e7e7e;

    display: block;

}

.random__play.active {

    fill: #fff;
    display: none;

}

.si-glyph {

    width: 30px;
    height: 30px;

}

.arrow__leftt path,.arrow__rightt path {

    stroke: #fff;

}

.arrow__leftt.active path, .arrow__rightt.active path {

    stroke: rgb(0, 0, 0);

    stroke: rgb(43, 43, 43);

}

.arrow__leftt.blocked path, .arrow__rightt.blocked path {

    stroke: rgba(160, 159, 159,.3);
}

.wrapper__repeat__play {

    position: relative;

    width: 35px;
    height: 35px;


}

.repeat__play {

    width: 10px;
    height: 10px;

}

.repeat__play, .repeat__play-one {

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 35px;
    height: 35px;

    /* background-color: green; */

    fill: #767373;
}

.repeat__play-one {

    display: none;
}

.repeat__play-one.active {

    display: block;
}

.repeat__play.active, .repeat__play-one.active {

    display: block;
    fill: #ffffff;
}


.wrap__img__current__song .audio {

    position: absolute;
    top: 0;
    right: 0;

    width: 100%;

    display: none;
}

.main__section .mobile__audio {

    position: absolute;
    top: 40%;
    right: 0;

    width: 100%;

    display: none;

}